<form action="/newURL" method="POST" class='form-group'>
<input class='form-inline form-control-lg' type="text" placeholder="Enter Valid URL" name='url'>
<button class='btn btn-info form-inline'>Submit</button>
