<h1>INDEX EJS</h1>
<form action="/" method="POST">
  <input type="text" name='url' placeholder="url">
  <button>Submit</button>
</form>
<p>Original URL: <%= url %></p>
<p>Shortend URL: <a href="<%=shortenedUrl %>"><%= shortenedUrl %></a></p>
