<% include partials/header.ejs  %>

<div class="container">
    <div class="jumbotron text-center">
      <h1>URL Shortener Microservice</h1>
      <h3>Created by: Wali Gauvin, MD</h3>
      <p><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQLs9xOL97hEGrj3Fc0xbpKdYN2XckF0EjFJ9-pfKA1BGy8sHXdP4OT8HLf" alt=""><a href='https://github.com/Docwali777/url-shortener'>Github Repository</a></p>
    </div>
    <div class="row">

  <div class="col-md-10">
    <h1></h1>
    <div >
      <% include partials/URLshorteningForm %>
    </div>
    </form>

  <table class='table table-hover table-responsive'>

    <tbody class="table-bordered ">
      <tr class='table-hover'>
        <td>Original URL</td>
        <td><a href="<%= url %>"><%= url %></a></td>
      </tr>
      <tr class='table-hover'>
        <td>Shortened URL</td>
        <td><a href="<%= shortenedUrl %>"><%= shortenedUrl %></a></td>
      </tr>

    </tbody>
  </table>

  <div>
<hr>
    <h2 class='text-center'>Information About URL Shortening </h2>
    <hr>
    <div>
    <strong>URL shortening</strong> is a technique on the World Wide Web in which a Uniform Resource Locator (URL) may be made substantially <strong>shorter</strong> and still direct to the required page. </br> </br>
    <p>Other uses of URL shortening are to <strong>"beautify"</strong> a link, track clicks, or disguise the underlying address. </p>
    <p>Reference - <a href="https://en.wikipedia.org/wiki/URL_shortening">URL shortening - From Wikipedia, the free encyclopedia</a></p>
    </div>
    <p>Example:</p>
<table class='table form-group table-hover table-responsive'>
<tbody>
  <tr>
    <td>Orignial URL:</td>
    <td><a href="https://en.wikipedia.org/wiki/Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu">https://en.wikipedia.org/wiki/Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu</a></td>
  </tr>
  <tr>
    <td>Shortend URL:</td>
    <td><a href="http://localhost:3000/newURL/Zlc6m">http://localhost:3000/newURL/1GEey</a></td>
  </tr>
</tbody>
</table>


</div>

  </div>
  </div>
  <p>Lessons Learned</p>
  <ul>
    <li>Increased knowledge of how to use <a href="https://nodejs.org/en/">Node</a>,
    <a href="https://expressjs.com/">Express</a>
    </li>
    <li>Used <a href="https://www.mongodb.com/">MongoDB </a> and <a href="https://mlab.com"> mLAb</a> for the first time</li>
    <li>Deployed app to <a href="https://www.heroku.com/">Heroku</a> and it integrated with mLab</li>

  </ul>
  <p>NPM packages used</p>
  <ul>
    <li><a href="https://www.npmjs.com/package/is-url">is-url</a> to validate urls</li>
<li><a href="http://mongoosejs.com/docs/connections.html">Mongoose</a> to connect to MongoDB</li>
<li><a href="http://www.embeddedjs.com/">Embedded Javascript (EJS)</a></li>
  </ul>
</div>

</body>
</html>
