
<h1>INDEX EJS</h1>
<form action="/newURL" method="POST">
  <input type="text" name='url' placeholder="url">
  <button>Submit</button>
</form>
<p>Original URL: <a href="<%= url %>"><%= url %></a></p>

<p>Shortend URL: <a href="<%=shortenedUrl %>"><%= shortenedUrl %></a></p>
